﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#randomNumber {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 13px;
  font-weight: 700;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 700px;
  height: 700px;
  background-image: url("../img/background.png");
  transform: translate(-50%, -50%);
}

.container {
  position: absolute;
  top: 124px;
  left: 125px;
  padding: 10px;
  width: 458px;
  height: 435px;
  border: 3px solid #000;
  border-radius: 15px;
  background-color: #fff;
  opacity: 0.8;
  overflow: auto;
}

.title {
  font-size: 35px;
  text-align: center;
  line-height: 1;
}

.container__number {
  text-align: center;
}

#number {
  padding: 5px;
  width: 55px;
  border-radius: 5px;
}

#button {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#text {
  text-align: center;
}

#modal {
  margin: 0 auto;
  position: absolute;
  top: 124px;
  left: 125px;
  padding: 10px;
  width: 458px;
  height: 435px;
  border: 3px solid #000;
  border-radius: 15px;
  background-color: #fff;
  z-index: 10;
  display: none;
}

.congrat {
  margin: 0 auto;
  width: 400px;
  height: 142px;
  background-image: url("../img/congrat.jpg");
}

.container__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user__text {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 700;
}

#username {
  margin-bottom: 10px;
}

#submit {
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

#result {
  display: none;
  width: 700px;
  background-color: rgb(253, 4, 4);
}

th,
td {
  padding: 10px 20px;
  border: 1px solid #000;
  text-align: center;
  width: 230px;
}

#replay {
  position: relative;
  top: 1px;
  left: 274px;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px,
    rgba(100, 100, 100, 0.3) 3px 7px 3px;
  user-select: none;
  padding: 1em 2em;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    ),
    linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 90%,
      rgba(255, 255, 255, 0.3)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(125, 125, 125, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(125, 125, 125, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    ),
    linear-gradient(
      to right,
      rgba(223, 190, 170, 1),
      rgba(255, 255, 255, 0.9) 45%,
      rgba(223, 190, 170, 0.5)
    );
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0, 0, 0, 0.5) 3px 10px 10px -10px;
}
#replay:hover {
  transition: 0.5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
#replay:active {
  top: 1px;
}
