﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
  font-family: Verdana;
  color: white;
  background-color: #000;
}

#console {
  margin: 15px 0 0 0px;
  border: 1px solid #00ff00;
  color: #00ff00;
  overflow: auto;
}

header {
  margin-bottom: 10px;
}

h1 {
  position: relative;
  margin: 0 0 20px 0;
  padding: 35px 0;
  font-size: 55px;
  color: #0e8f2e;
  text-align: center;
}

h1:before {
  content: "";
  position: absolute;
  top: 55%;
  left: 51%;
  width: 175px;
  height: 100px;
  border: 6px solid #0e8f2e;
  border-radius: 50%/30%;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translate(-50%, -50%);
}

nav {
  padding: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  margin-bottom: 10px;
}

li:not(:last-child) {
  margin-right: 5px;
}

a {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background: rgb(10, 120, 10);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.8),
    inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

a:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(20, 130, 20);
}

a:active {
  background: rgb(0, 110, 0);
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.8),
    inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.5);
}

section {
  padding: 5px;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
}

button {
  position: relative;
  display: inline-block;
  padding: 8px 36px;
  border: none;
  border-radius: 15px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  color: rgb(245, 245, 245);
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  outline: none;
  text-decoration: none;
  user-select: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98,
    #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff,
    inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #0c9c0d;
}

input {
  margin-left: 5px;
  padding: 5px;
  border: 2px solid #0c9c0d;
  border-radius: 5px;
  color: #0c9c0d;
  font-size: 20px;
}

textarea {
  margin-left: 15px;
  padding: 5px;
  border: 2px solid #0c9c0d;
  border-radius: 5px;
  color: #0c9c0d;
  font-size: 20px;
  resize: none;
}

.development {
  display: flex;
  justify-content: center;
  margin-top: -22px;
}

img {
  width: 100%;
  max-width: 400px;
}

.parse {
  width: 400px;
}
