﻿.js-console {
  margin: 0;
}

body .js-console {
  margin: 0;
  padding: 5px 10px;
  background-color: black;
  width: 100%;
  height: 200px;
  font-family: Consolas;
  font-size: 18px;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: break-all;
}

body .js-console > p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
}

body .js-console > p > span {
  margin: 0;
  padding: 0;
}

body .js-console > p > br {
  display: inline-block;
  margin-bottom: 5px;
}
