﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 5px;
  font-family: "Bradley Hand", sans-serif;
  font-weight: 900;
  font-size: 60px;
  color: green;
  line-height: 1;
}

.subtitle {
  margin-bottom: 10px;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-size: 30px;
  line-height: 1;
  color: greenyellow;
}

.win {
  position: absolute;
  top: 0;
  left: -100%;
}

.win-active {
  position: absolute;
  top: 50px;
  left: 210px;
  z-index: 1;
}

#area {
  position: relative;
  padding: 10px;
  width: 1200px;
  height: 751px;
  background-image: url("../img/background.jpg");
}

.form {
  margin-bottom: 5px;
}

.label {
  font-family: "Liferdas Extra Light Italic", sans-serif;
  color: blue;
}

#button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

#number {
  width: 50px;
}

.garbage-can {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 180px;
  height: 255px;
  background-image: url("../img/garbage-can.png");
}

.garbage-can2 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: none;
  width: 180px;
  height: 332px;
  background-image: url("../img/garbage-can2.png");
}

.count {
  position: absolute;
  right: 56px;
  bottom: 108px;
  font-size: 45px;
  font-weight: 700;
}
