﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 20px;
  font-family: Verdana;
  color: white;
  background-color: #000;
}

#console {
  margin: 15px 0 0 0px;
  border: 1px solid #00ff00;
  color: #00ff00;
  overflow: auto;
}

header {
  margin-bottom: 10px;
}

h1 {
  position: relative;
  margin: 0 0 20px 0;
  padding: 35px 0;
  font-size: 55px;
  color: #0e8f2e;
  text-align: center;
}

h1:before {
  content: "";
  position: absolute;
  top: 53%;
  left: 50%;
  width: 130px;
  height: 100px;
  border: 6px solid #0e8f2e;
  border-radius: 50%/30%;
  border-left-color: transparent;
  border-right-color: transparent;
  transform: translate(-50%, -50%);
}

nav {
  padding: 5px;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__item {
  margin-bottom: 10px;
}

.nav__item:not(:last-child) {
  margin-right: 5px;
}

.nav__link {
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  background: rgb(10, 120, 10);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.8),
    inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.2s;
}

.nav__link:hover {
  color: rgba(255, 255, 255, 0.9);
  background: rgb(20, 130, 20);
}

.nav__link:active {
  background: rgb(0, 110, 0);
  box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, 0.8),
    inset rgba(0, 0, 0, 0.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, 0.5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, 0.2), -2px -2px 5px rgba(0, 0, 0, 0.5);
}

section {
  padding: 5px;
}

h2 {
  text-align: center;
}

p {
  margin-bottom: 25px;
  font-size: 18px;
}

button {
  position: relative;
  display: inline-block;
  padding: 8px 36px;
  border: none;
  border-radius: 15px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  color: rgb(245, 245, 245);
  background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
  outline: none;
  text-decoration: none;
  user-select: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.1);
  box-shadow: inset #72de26 0 -1px 1px, inset 0 1px 1px #98ff98,
    #3caa3c 0 0 0 1px, rgba(0, 0, 0, 0.3) 0 2px 5px;
  -webkit-animation: pulsate 1.2s linear infinite;
  animation: pulsate 1.2s linear infinite;
}

button:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  cursor: pointer;
}

button:active {
  top: 1px;
  color: #fff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3), 0 1px 1px #fff,
    inset 0 1px 2px rgba(0, 0, 0, 0.8), inset 0 -1px 0 rgba(0, 0, 0, 0.05);
}

@-webkit-keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

@keyframes pulsate {
  50% {
    color: #fff;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3), 0 0 5px #ffd, 0 0 8px #fff;
  }
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #0c9c0d;
}

input {
  margin-left: 5px;
  padding: 5px;
  border: 2px solid #0c9c0d;
  border-radius: 5px;
  color: #0c9c0d;
  font-size: 20px;
}

textarea {
  margin-left: 15px;
  padding: 5px;
  border: 2px solid #0c9c0d;
  border-radius: 5px;
  color: #0c9c0d;
  font-size: 20px;
  resize: none;
}

.development {
  display: flex;
  justify-content: center;
  margin-top: -22px;
}

img {
  width: 100%;
  max-width: 400px;
}

.text {
  margin-left: 5px;
  color: yellowgreen;
}

ul {
  margin-left: 20px;
}

.block {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 500px;
  border: 2px solid blue;
  background: #fff;
  color: #000;
}

.first {
  margin-top: 15px;
}

#console {
  position: relative;
}

.star {
  position: absolute;
  width: 70px;
  height: 70px;
}

.sun {
  position: absolute;
  top: 160px;
  left: 215px;
  width: 150px;
  height: 150px;
  background-image: url("../img/sun.png");
}

.wrap {
  margin-bottom: 10px;
}

.input__speed {
  -webkit-appearance: none;
  width: 220px;
  height: 5px;
  background: #fff;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.input__speed:hover {
  opacity: 0.7;
}

.input__speed::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 19px;
  border: 0;
  background: url("../img/icon-range.png");
  cursor: pointer;
}

.input__speed::-moz-range-thumb {
  width: 12px;
  height: 19px;
  border: 0;
  background: url("../img/icon-range.png");
  cursor: pointer;
}
